@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* outline: none; */
}
body {
  font-family: 'Roboto Slab', serif;
  background-color: #fadde1;
}
.btn {
  display: block;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  background: #0ac6db;
  border: 2px solid rgba(197, 4, 168, 0.59);
  border-radius: 50px;

  /* 
  padding: 23px;
  margin: 20px;
  border-radius: 50%; */
}
a.btn {
  text-decoration: none;
}
.about-section,
.about-us {
  height: 45vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'box1';
}
.about-section {
  background-color: #ef476f;
}

.about-container {
  grid-area: box1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}
.container {
  /* //change from 60 */
  width: 100%;
  margin: 2rem auto;
  padding-bottom: 1%;
}
footer {
  display: block;
  padding: 0.75rem 1.25rem;
  height: 20vh;
  background-image: url('./images/unsplash2.jpg');
  background-size: cover;
  background-color: #ef476f;
  /* width: 100; */
}
.container-footer {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin: 3rem auto;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  /* grid-gap: 1.5rem; */
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding: 10px; */
  /* display: block; */
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}
.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
figcaption a {
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  font-size: 1.2rem;
  width: 100%;
  color: #ef476f;
  font-style: italic;
  font-weight: 700;
  position: absolute;
}
/* figcaption {
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgba(112, 231, 255, 0.668);
  border: 0;
  display: block;
  left: 0;
  bottom: 0;
  margin: 10px 0 10px 0;
  padding: 10px 0 40px 0;
  border-radius: 30px 10px;
} */
/* figure {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  margin: 1rem;
} */
h1 {
  text-align: center;
  justify-content: space-between;
  color: #ef476f;
  position: absolute;
  display: block;
  flex-flow: row wrap;
  font-size: 3rem;
  letter-spacing: 6px;

  /* top: 50;
  left: 40%; */
  /* right: 50; */
}
.heading-two {
  text-align: center;
  justify-content: space-between;
  color: #ef476f;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  font-size: 3rem;
  letter-spacing: 4px;
  padding: 0 40px 20px 80px;
}
h2 {
  text-align: center;
  justify-content: space-between;
  color: #47e7ef;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  font-size: 3rem;
  letter-spacing: 4px;
}
/* 
.hidden {
  display: none;
} */
/* screen reader . this will be hidden unless the user is using a screen reader. if they are not using one the user will see a hamberger button 
for my own reference if the position is relative the 'open main menu and the close main menu is visible but if I change it to absolute it will be hidden */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
header {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ef476f;
}
/* logo width 50% small the image and out it to the left side and move the ul il to the right */
.logo {
  width: 100%;
  opacity: 85%;
  height: 90vh;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* add image opacity border-radius: 50%; */
  background-size: cover;
  background-position: top;
  position: relative;
}

/* this section give more width to the hamberger and the close button image
adding extra info move the icons to the top */
.hamburger img,
.close img {
  width: 36px;
  height: 36px;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  top: 0;
  right: 0;
  margin: 1rem;
}
/* .hamburger {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  top: 0;
  right: 0;
} */

nav {
  padding: 1rem;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ffcad4;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 1s ease;
}

nav:target {
  transform: translateY(0);
}
nav ul {
  flex-basis: 90%;
  list-style-type: none;
}
nav a {
  display: block;
  padding: 60px 0px 0 0px;
  margin: 0 0 4px 2px;
  font-size: 2.5rem;
  /*
  font-weight: 600; provided a bolder look to the letters
    */
  font-weight: 600;
  /*
  text-decoration: none; remove the underline to the letters
    */
  text-decoration: none;
  /*
 color: white; change color to white to the letters
    */
  color: #e63946;
  /* animate slide up/down */
}

nav a:hover {
  color: #2ec4b6;
}

/*
some styling to make some effect to the navbar and to make it tilt a bit in the corner
*/
span {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(50px);
  /* display: inline-block; */
}
span.fade {
  opacity: 4;
  transform: translateY(0px);
}
.waves {
  outline: none;
}
/* add media queries to desktop since it was made mobile responsive first - using logo it change the size to the pic when it reach to  min-width: 600px*/
@media (min-width: 600px 1000px) {
  .logo {
    /* width: 35%; */
    width: 100%;
    opacity: 50%;
    height: 75;
    clip-path: polygon(0 0, 100% 0%, 100% 64%, 0 100%, 0% 50%);
  }
  h1 {
    /* text-align: center;
    justify-content: space-between;
    color: #ef476f;

    flex-flow: row wrap;
    font-size: 3rem;
    letter-spacing: 6px; */
    text-align: center;
    justify-content: space-between;
    color: #47e7ef;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    font-size: 3rem;
    letter-spacing: 4px;
  }
  .heading-two {
    text-align: center;
    justify-content: space-between;
    color: #ef476f;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 4rem;
    letter-spacing: 4px;
    left: 25%;
    padding: 0 40px 50px 80px;
    font-style: italic;
  }
  nav {
    /*
using padding : move the image and list menu to down a bit. 
*/
    padding: 1rem;
    /* position: absolute move the content list to left where the image is located, and the right side is showing only the menu hamburger  */
    position: absolute;
    /* a higher z-index put navbar above hamburger */
    z-index: 1000;
    /* move list a bit top */
    top: 0;
    /* move list a bit to the left */
    left: 0;
    width: 100%;
    /* adding the 100vh vh stands for viewport it will make sure to cover the screen to black for the close screen  */
    height: 100vh;
    overflow: hidden;
    background-color: rgba(57, 139, 79, 0.9);
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 1s ease;
  }
  nav:target {
    transform: translateY(0);
  }

  /*
this make the hamburger and the close button to dissapear from the screen 
    */
  .hamburger .close {
    width: 36px;
    height: 36px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    top: 0;
    right: 0;
    margin: 1rem;
  }

  /*
this make margin: 2rem 0 0 0; the image move all the way to the left
    */
  /* margin: 0; */
  /*
text was move to the center and using block it move the list to the left (the content is invisible just bullets is showing 
    */
  /* text-align: center;
    display: block; */

  nav {
    padding: 0;
    margin: 0;
  }
  nav ul {
    /*
remove the bullets from the list
    */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    font-size: 2.5rem;
    /*
  font-weight: 600; provided a bolder look to the letters
    */
    font-weight: 600;
    /*
  text-decoration: none; remove the underline to the letters
    */
    text-decoration: none;
    /*
 color: white; change color to white to the letters
    */
    color: beige;
    display: block;
    padding: 60px 0px 0 0px;
    margin: 0 0 4px 2px;
  }
}
@media (min-width: 1008px) {
  header {
    /*
display: flex; move header navbar to the right 
    */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    text-align: center;
    justify-content: space-between;
    color: #47e7ef;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    font-size: 4rem;
    letter-spacing: 1rem;
    left: 35%;
  }
  .heading-two {
    text-align: center;
    justify-content: space-between;
    color: #ef476f;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 4rem;
    letter-spacing: 4px;
    left: 35%;
    padding: 0 40px 50px 80px;
    font-style: italic;
  }

  /*
streght the header navbar a bit larger
    */
  header nav {
    flex-basis: 60%;
  }
  /*
change the header navbar borders to a circular border
    */
  nav ul {
    border-radius: 2rem;
  }
  /*
Grid card gallery
*/
  /* .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  } */
  /* figure,
  .box-1 {
    grid-column: 1/4;
    grid-row: 2/4;
   
  } */
  /* figure,
  .box-3 {
    grid-column: 2/3;
    grid-row: 2/2;
  }
  .gallery img {
    
    width: 100%;
    height: 85vh;
  } */

  /* figure {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
  } */
}
